html {
  font-size: 16px;
}

body {
  background-image: url("assets/pexels-josh-sorenson-1714202.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;

  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  cursor: url("assets/cursor.png"), auto;
}

header {
  background: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  animation: imageRotateEnter 3s ease-in-out;
  animation-delay: 2s;
}

header img:hover {
  animation-play-state: running;
  animation-iteration-count: infinite;
}

header h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  animation: fadeIn 1s ease-in-out;
}

header p {
  color: #cecece;
  width: 80%;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

main {
  background: rgba(255, 255, 255, 0.81);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 14rem;
}

main h1 {
  color: #222;
  font-size: 4rem;
  font-weight: 400;
  height: 2rem;
}

main article {
  border-radius: 0.75rem;
  border: 2px solid #bdbdbd;
  background: white;
  padding: 1rem;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  /* Animate the hover effect */
  transition: transform 0.5s ease-in-out;

  h2,
  h3,
  p {
    font-weight: 400;
    font-size: 1rem;
  }
}

main article:hover {
  transform: scale(1.1);
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes imageRotateEnter {
  0% {
    transform: rotate(0deg);
  }

  80% {
    width: 15rem;
    height: 15rem;
  }

  90% {
    width: 25rem;
    height: 25rem;
  }

  100% {
    transform: rotate(360deg);
    width: 15rem;
    height: 15rem;
  }
}
